{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Welcome to Lab 4&5, Docker intro!</h1>
        <br>
        <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
        <h2>{% if email %}{% if "utoronto" not in email %}Please use your UofT email.{% else %}Your UofT email is {{ email }}{% endif %}{% endif %}</h2>
    </div>
    {{ wtf.quick_form(form) }}
{% endblock %}